footer{
    width 100%;
    max-width 100%;
    .container-padrao{
        position relative;
        width: 1232;
        padding: 0 70px;
        .container-arrow{
            position absolute;
            width: 100%;
            left 0;
            right: 0;
            top: 0;
            max-width 100%;
            padding-right: 5px;
            display flex;
            justify-content flex-end;
            .up-arrow{
                width: 60px;
                height: 60px;
                box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.16);
                background-color: #f2f1e6;
                display flex;
                justify-content: center;
                right: -60px;
                top 0;
                z-index -1;
                cursor: pointer;
                img{
                    width: 20px;
                }
                &:hover{
                    filter: brightness(0.92);
                }
            }
        }
        .container-redes{
            width 100%;
            max-width 100%;
            display flex;
            justify-content: center;
            padding: 25px 0;
            border-bottom solid 2px #f2f3f4;
            a{
                margin 0 9px; 
                img{
                    width 18px;
                    height 18px;
                }
            }
        }
        .container-copy{
            width 100%;
            max-width 100%;
            display flex;
            justify-content: flex-end;
            padding: 35px 0;
            p{
                font-family: 'Vision';
                font-size: 15px;
                line-height: 1.28;
                text-align: left;
                max-width: 100%;
                color: #383d45;
                text-align: center;
                width 100%;
                strong{
                    font-family: 'Vision';
                    font-weight: bold;
                }
            }
        }
    }
}
@media(max-width: 768px){
    footer .container-medio .container-copy p{
        font-size: 12px;
    }
}
@media(max-width: 500px){
    footer .container-padrao{
        padding: 0 0px;
        .container-arrow .up-arrow{
            width: 45px;
            height: 45px;
            img{
                width: 16px;
            }
        }
    }
}