.container-carrossel-pai{
    width: 100%;
    max-width 100%;
    height 100vh;
    position relative;
    display: flex;
    align-items: center;
    .container-arrows{
        width 100%;
        max-width 100%;
        position absolute;
        z-index 5;
        bottom: 40px;
        .container-menor{
            display flex;
            .prev-arrow, .next-arrow{
                margin: 0 5px;
                width: 60px;
                height: 60px;
                box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.16);
                background-color: #f2f1e6;
                display flex;
                justify-content: center;
                align-items: center;
                transition all .2s;
                cursor pointer;
                img{
                    width 22px;
                    height 22px;
                }
                &.slick-disabled{
                    opacity .7;
                }
                &:hover{
                    filter: brightness(0.92);
                }
            }
        }
    }
    .container-carrossel{
        width: 100%;
        max-width 100%;
        height 100%;
        display flex;
        margin-bottom: 0;
        justify-content: center;
        position relative;
        .slick-list{
            height 100%;
            width: 100%;
            .slick-track{
                height 100%;
                width: 100%;
            }
        }
        .container-banner{
            width: 100%;
            max-width 100%;
            height 100%;
            display: flex;
            align-items: center;
            position relative;
            background-size: cover;
            .container-gradient{
                width: 100%;
                position absolute;
                max-width 100%;
                height 100%;
                background-color: #f2f1e6;
                opacity .7;
            }
            .container-menor{
                z-index 5;
                h1{
                    font-family: 'Vision';
                    font-weight: 900;
                    font-size: 36px;
                    white-space pre-line;
                    color: #383d45;
                    line-height: 1.08;
                    span{
                        font-family: 'Vision';
                        font-weight: 900;
                        color: #b96d41;
                        font-size: 36px;
                        line-height: 0;
                    }
                }
                a .container-botao{
                    margin-top: 47px;
                    width: 140px;
                    height: 45px;
                    border: solid 2px #383d45;
                    display flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        font-family: 'Vision ExtBlk';
                        font-weight: 900;
                        font-size: 14px;
                        color: #383d45;
                    }
                }
            }
        }
    }
    .container-full{
        position absolute;
        .container-redes{
            display: flex;
            width: 1150px;
            max-width 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: flex-end;
            img{
                width: 16px;
                height: 16px;
                margin-bottom: 14px;
            }
        }
    }
}
.container-quem-somos{
    width: 100%;
    max-width 100%;
    padding: 160px 0 260px;
    background-repeat: no-repeat;
    background-size: cover;
    .container-medio{
        display: flex;
        .container-conteudo-pai{
            width 50%;
            max-width 100%;
            display: flex;
            .container-conteudo{
                width: 520px;
                max-width 100%;
                display flex;
                flex-direction: column;
                justify-content: center;
                span{
                    font-family: 'Vision';
                    font-size: 14px;
                    line-height: 1.23;
                    letter-spacing: 1.1px;
                    text-align: left;
                    color: #b96d41;
                    padding-left: 35px;
                    text-transform: uppercase;
                    margin-bottom: 22px;
                }
                h1{
                    font-family: 'Vision';
                    font-weight: 900;
                    font-size: 26px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.3;
                    letter-spacing: normal;
                    text-align: left;
                    color: #383d45;
                    margin-bottom: 35px;
                    white-space: pre-line;
                    padding-left: 30px;
                    border-left: solid 5px #b96d41;
                    span{
                        font-family: 'Vision';
                        font-weight: 900;
                        color: #b96d41;
                        font-size: 26px;
                        line-height: 0;
                        padding 0;
                    }
                }
                p{
                    font-family: 'Vision';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.23;
                    text-align: left;
                    color: #383d45;
                    padding-left: 35px;
                }
            }
        }
        .container-cards-pai{
            width 50%;
            max-width 100%;
            display: flex;
            justify-content: flex-end;
            .container-cards{
                width 520px;
                max-width 100%;
                display flex;
                justify-content: flex-end;
                .container-cards-linha{
                    width: fit-content;
                    display: flex;
                    position relative;
                    align-items: center;
                    flex-direction: column;
                    .container-linha{
                        width 6px;
                        background-color: #b96d41;
                        height 100%;
                        position absolute;
                    }
                    .container-card{
                        width: 270px;
                        padding: 16px 28px 16px 0;
                        margin-bottom: 38px;
                        max-width 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #ffffff;
                        .container-imagem{
                            margin-left: -35px;
                            width: 65px;
                            height: 65px;
                            background-color: #b96d41;
                            display flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 35px;
                                height: 35px;
                            }
                        }
                        .container-texto{
                            width 241px;
                            h1{
                                font-family: 'Vision';
                                font-weight: bold;
                                text-align: right;
                                font-size: 16px;
                                line-height: 1.21;
                                color: #383d45;
                                margin-bottom: 12px;
                                text-transform: uppercase;
                            }
                            p{
                                font-family: 'Vision';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.28;
                                text-align: right;
                                color: #383d45;
                            }
                        }
                    }
                    .container-card:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.container-lancamentos-pai{
    width 100%;
    max-width 100%;
    box-shadow: 0 -18px 20px 0 rgba(0, 0, 0, .2);
    .container-conteudo-imagem{
        padding: 100px 0 40px;
        position: relative;
        width: 100%;
        max-width 100%;
        background: linear-gradient(0deg, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 26%);
        .container-imagem-pai{
            margin-top: -275px;
            position absolute;
            width 53%;
            right 0;
            bottom: 0;
            max-width 950px;
            .container-imagem{
                width 100%;
                height 100%;
                position relative;
                img{
                    object-fit: cover;
                    width: 100%;
                    height 100%;
                    object-position: bottom;
                }
                .gradient{
                    position: absolute;
                    background: linear-gradient(0deg,#fff 7%,rgba(255, 255, 255, 0) 26%);
                    width: 100%;
                    top: 0;
                    height: 100%;
                }
            }
        }
        .container-medio{
            display flex;
            align-items: flex-end;
            .container-conteudo-pai{
                width 40%;
                max-width 100%;
                .container-conteudo{
                    width 375px;
                    max-width 100%;
                    h2{
                        font-family: 'Vision';
                        font-size: 14px;
                        text-transform: uppercase;
                        line-height: 1.23;
                        letter-spacing: 1.1px;
                        color: #b96d41;
                        margin-bottom: 22px;
                        padding-left: 35px;
                    }
                    h1{
                        font-family: 'Vision';
                        font-weight: 900;
                        font-size: 26px;
                        line-height: 1.22;
                        color: #383d45;
                        white-space: pre-line;
                        margin-bottom: 43px;
                        padding-left: 30px;
                        border-left solid 5px #b96d41;
                        span{
                            font-family: 'Vision';
                            font-weight: 900;
                            color: #b96d41;
                            font-size: 26px;
                            line-height: 0;
                        }
                    }
                    .texto{
                        font-family: 'Vision';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.23;
                        color: #383d45;
                        margin-bottom: 30px;
                        padding-left: 35px;
                    }
                    .descricao{
                        font-family: 'Vision';
                        font-size: 14px;
                        line-height: 1.23;
                        color: #383d45;
                        display flex;
                        margin-bottom: 22px;
                        padding-left: 35px;
                        img{
                            width: 16px;
                            height: 16px;
                            margin-right: 25px;
                            filter brightness(0);
                        }
                    }
                }
            }
            .container-opcoes{
                width 60%;
                display: flex;
                justify-content: space-evenly;
                .container-opcao{
                    width: 125px;
                    height: 105px;
                    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
                    background-color: #f2f1e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                    transition: all .3s;
                    img{
                        width: 26px;
                        height: 26px;
                        margin-bottom 15px;
                        transition: all .3s;
                    }
                    p{
                        font-family: 'Vision ExtBlk';
                        font-weight: 900;
                        font-size: 14px;
                        line-height: 1.19;
                        text-align: center;
                        color: #383d45;
                        transition: all .3s;
                    }
                    &.ativo{
                        background-color: #b96d41;
                        p{
                            color: #f2f1e6;
                        }
                        img{
                            filter: brightness(5);
                        }
                    }
                }
            }
        }
    }
    .container-pequeno{
        display flex;
        width: 1000px;
        &.info{
            margin-top: 50px;
            align-items: flex-start;
            min-height: 350px;
        }
        .container-ficha{
            width 100%;
            display: none;
            max-width 100%;
            flex-wrap: wrap;
            .descricao{
                font-family: 'Vision';
                font-weight: 400;
                font-size: 14px;
                width 50%;
                line-height: 1.23;
                color: #383d45;
                padding-left: 100px;
                margin-bottom: 21px;
                strong{
                    font-family: 'Vision';
                }
            }
        }
        .container-perspectiva, .container-planta, .container-video{
            width: 100%;
            max-width 100%;
            display: none;
            align-content: start;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .container-imagem-pai{
                width: 236px;
                height: 236px;
                padding: 8px;
                .container-border{
                    padding: 11px;
                    width: 100%;
                    height 100%;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;
                    img{
                        width 100%;
                        height 100%;
                        object-fit: cover;
                    }
                }
            }
            iframe{
                width: 100%;
                height: 300px;
            }
        }
        .ativo{
            display flex;
        }
    }
}
.container-portfolio{
    width: 100%;
    max-width 100%;
    padding-top: 60px;
    .container-menor{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-family: 'Vision';
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.23;
            letter-spacing: 1.1px;
            color: #b96d41;
            margin-bottom: 22px;
            text-transform: uppercase;
        }
        h1{
            font-family: 'Vision';
            font-weight: 900;
            font-size: 26px;
            line-height: 1.22;
            color: #383d45;
            padding-left: 30px;
            border-left solid 5px #b96d41;
            margin-bottom: 45px;
            span{
                font-family: 'Vision';
                font-weight: 900;
                color: #b96d41;
                font-size: 26px;
                line-height: 0;
            }
        }
        p{
            font-family: 'Vision';
            font-weight: 400;
            font-size: 16px;
            line-height: 1.23;
            text-align: center;
            color: #383d45;
            margin-bottom: 45px;
        }
    }
    .container-cases-pai{
        width: 100%;
        max-width 100%;
        display: flex;
        flex-wrap: wrap;
        .container-case{
            width: 50%;
            max-width 100%;
            display: flex;
            position relative;
            min-height: 602px;
            .container-imagem{
                position absolute;
                width: 100%;
                height: 100%;
                img{
                    max-width 100%;
                    width: 100%;
                    height: 100%;
                    position absolute;
                    object-fit: cover;
                }
                .container-overlay{
                    background-color: #f2f1e6;
                    transition: all .2s;
                    opacity .65;
                    width: 100%;
                    height: 100%;
                    position absolute;
                }
                .container-ativador-responsivo{
                    width: 100%;
                    height: 100%;
                    position absolute;
                    z-index 5;
                    display none;
                }
            }
            .container-conteudo-pai{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                opacity 0;
                transition: all .2s;
                .container-conteudo{
                    padding: 75px 18px 30px;
                    display: flex;
                    justify-content: center;
                    .container-ficha{
                        width 362px;
                        display: none;
                        flex-direction: column;
                        h1{
                            font-family: 'Vision';
                            font-weight: 900;
                            font-size: 26px;
                            line-height: 1.22;
                            color: #f2f1e6;
                            padding-left: 23px;
                            border-left solid 5px #f2f1e6;
                            margin-bottom: 43px;
                        }
                        .texto{
                            font-family: 'Vision';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 1.23;
                            color: #f2f1e6;
                            padding-left: 28px;
                            margin-bottom: 31px;
                        }
                        .descricao{
                            font-family: 'Vision';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.23;
                            color: #f2f1e6;
                            display flex;
                            padding-left: 28px;
                            margin-bottom: 21px;
                            img{
                                margin-right: 28px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .container-perspectiva, .container-planta{
                        width: 100%;
                        max-width 100%;
                        display: none;
                        align-content: start;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        .container-imagem-pai{
                            width: 200px;
                            height: 200px;
                            padding: 8px;
                            .container-border{
                                padding: 11px;
                                width: 100%;
                                height 100%;
                                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
                                background-color: #ffffff;
                                img{
                                    width 100%;
                                    height 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                    .ativo{
                        display flex;
                    }
                }
                .container-opcoes{
                    width: 100%;
                    max-width 100%;
                    display flex;
                    background-color: #f2f1e6;
                    .container-opcao{
                        max-width 100%;
                        display flex;
                        justify-content: center;
                        align-items: center;
                        width: 33.33%;
                        height: 72px;
                        cursor pointer;
                        background-color: #f2f1e6;
                        p{
                            font-family: 'Vision';
                            font-weight: 900;
                            font-size: 14px;
                            line-height: 1.2;
                            text-align: center;
                            color: #383d45;
                            display flex;
                            text-transform: uppercase;
                            img{
                                width: 18px;
                                height: 18px;
                                margin-right: 25px;
                            }
                        }
                        &:hover{
                            filter: brightness(0.95);
                        }
                    }
                }
            }
            &:hover{
                .container-imagem{
                    z-index -1;
                    .container-overlay{
                        background-color: #b96d41;
                        opacity .97;
                    }
                }
                .container-conteudo-pai{
                    opacity 1;
                }
            }
        }
    }
}

.container-instagram-pai{
    padding: 60px 0;
    width: 100%;
    max-width 100%;
    margin: 0 auto;
    .container-menor{
        display: flex;
        flex-direction: column;
        align-items: center;
        #titulo {
            font-family: 'Vision';
            font-weight: 900;
            font-size: 26px;
            line-height: 1.22;
            color: #383d45;
            margin-bottom: 45px;
            span{
                font-family: Vision;
                font-weight: 900;
                color: #b96d41;
                font-size: 26px;
                line-height: 0;
            }
        }
        .container-instagram{
            width: 1664px;
            height fit-content;
            max-width 100%;
        }
        #botao {
            border 2px solid #000;
            cursor pointer;
            width: 150px;
            height: 50px;
            p{
                font-family: 'Vision';
                font-weight: bold;
                font-size: 16px;
                line-height: 1.21;
                color: #000;
                width: fit-content;
                margin: 15px 0 0 23px;
            }
            &:hover {
                filter: brightness(0.95);
                transform: all .3;
                background-color: #000;
                p{
                    color: #fff;
                }
            }
        }
    }
    
}

.container-contato-pai{
    width 100%;
    max-width 100%;
    position relative;
    background: linear-gradient(0deg, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 26%);
    .container-background{
        width: 100%;
        height 100%;
        position absolute;
        max-width 100%;
        z-index -1;
        overflow hidden
        opacity: 0.06;
        img{
            object-fit: cover;
            width: 100%;
            height 100%;
            object-position: center;
            max-width 100%;
        }
    }
    .container-padrao{
        display: flex;
        padding: 100px 18px;
        .container-contato{
            width 50%;
            padding: 0 18px;
            max-width 100%;
            display: flex;
            justify-content: center;
            .container-conteudo-pai{
                width: fit-content;
                max-width 100%;
                display flex;
                justify-content: flex-end;
                .container-conteudo{
                    width fit-content;
                    h1{
                        font-family: 'Vision';
                        font-weight: 900;
                        font-size: 26px;
                        line-height: 1.22;
                        color: #383d45;
                        margin-bottom: 40px;
                        span{
                            font-family: 'Vision';
                            font-weight: 900;
                            color: #b96d41;
                            font-size: 26px;
                            line-height: 0;
                        }
                    }
                    p{
                        font-family: 'Vision';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.23;
                        color: #383d45;
                        margin-bottom: 20px;
                        white-space: pre-line;
                    }
                }
            }
        }
        .container-formulario{
            padding: 0 18px;
            width 50%;
            max-width 100%;
            display: flex;
            justify-content: center;
            .container-conteudo-pai{
                width: 400px;
                max-width 100%;
                .container-conteudo{
                    width 100%;
                    h1{
                        font-family: 'Vision';
                        font-weight: 900;
                        font-size: 20px;
                        line-height: 1.19;
                        color: #383d45;
                        white-space: pre-line;
                        margin-bottom: 32px;
                    }
                    h2{
                        font-family: 'Vision';
                        font-weight: 900;
                        font-size: 16px;
                        color: #b96d41;
                        margin-bottom: 22px;
                        white-space: pre-line;
                    }
                    form{
                        width 100%;
                        max-width 100%;
                        display flex;
                        flex-direction: column;
                        input{
                            width 100%;
                            max-width 100%;
                            height 60px;
                            appearance none;
                            background-color: none !important;
                            border none;
                            border-bottom:solid 2px #969696
                            font-size: 16px;
                            font-family: 'Vision';
                            line-height: 1.21;
                            color: #969696;
                            padding-left: 23px;
                            margin-bottom: 25px;
                            background: none;
                            &::placeholder{
                                font-size: 16px;
                                font-family: 'Vision';
                                line-height: 1.21;
                                color: #969696;
                            }
                        }
                        input:last-child{
                            margin-bottom: 45px;
                        }
                        button{
                            border none;
                            appearance none;
                            cursor pointer;
                            margin: 23px 0 0 23px;
                            width: 170px;
                            height: 50px;
                            background-color: #b96d41;
                            font-family: 'Vision';
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 1.21;
                            color: #f2f1e6;
                            &:hover{
                                filter: brightness(0.95);
                            }
                        }
                        span{
                            font-family: 'Vision';
                            font-size: 16px;
                            margin-top: 15px;
                            &.success{
                                color #376e37;
                            }
                            &.error{
                                color: #b71c1c;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px){
    .container-portfolio .container-cases-pai  .container-case .container-conteudo-pai .container-conteudo{
        .container-perspectiva, .container-planta{
            .container-imagem-pai{
                width: 180px;
                height: 180px;
                padding: 5px;
                .container-border{
                    padding: 8px;
                }
            }
        }
    }
}
@media(max-width: 900px){
    .container-quem-somos .container-medio{
        flex-direction: column;
        align-items: center;
        .container-conteudo-pai{
            width fit-content;
        }
        .container-cards-pai{
            width fit-content;
            margin-top: 50px;
            justify-content: center;
            .container-cards{
                justify-content: center;
            }
        }
    }
}
@media(max-width: 850px){
    .container-portfolio{
        .container-cases-pai{
            .container-case{
                width: 100%;
                position relative;
                flex-direction: column;
                min-height: 100%;
                .container-imagem{
                    position relative;
                    height: 450px;
                    img{
                        position unset;
                        object-fit: cover;
                    }
                    .container-overlay{
                        background-color: #f2f1e6;
                        transition all .3s;
                        top 0;
                        &.ativo{
                            opacity 0;
                        }
                    }
                    .container-ativador-responsivo{
                        display block;
                        top 0;
                    }
                }
                .container-conteudo-pai{
                    max-height: 0;
                    min-height: 0;
                    opacity 1;
                    transition: all .8s;
                    background-color: #b96d41;
                    overflow hidden;
                    .container-conteudo .container-perspectiva .container-imagem-pai .container-border{
                        padding: 5px;
                    }
                    .container-conteudo .container-planta .container-imagem-pai .container-border{
                        padding: 5px;
                    }
                    &.ativo{
                        max-height: 100%;
                        min-height: 600px;
                    }
                }
                &:hover{
                    .container-imagem{
                        z-index 1;
                        .container-overlay{
                            background-color: #f2f1e6;
                            opacity 0.65;
                            &.ativo{
                                opacity 0;
                            }
                        }
                    }
                    .container-conteudo-pai{
                        opacity unset;
                    }
                }
            }
        }
    }
}
@media(max-width: 820px){
    .container-lancamentos-pai{
        .container-conteudo-imagem{
            padding: 260px 0 40px;
            .container-imagem-pai{
                margin-top: -140px;
                top: 0;
                display: flex;
                justify-content: center;
                width: 100%;
                bottom: unset;
                .container-imagem{
                    padding:0 20px;
                    max-width 450px;
                }
                .gradient{
                    left: 0;
                }
            }
            .container-medio{
                flex-direction: column;
                .container-conteudo-pai{
                    width 100%;
                    display flex;
                    justify-content: center;
                }
                .container-opcoes{
                    width 100%;
                }
            }
        }
        .container-menor{
            .container-ficha .descricao{
                padding-left: 50px;
            }
            .container-perspectiva, .container-planta{
                .container-imagem-pai{
                    width: 166px;
                    height: 166px;
                    .container-border{
                        padding: 5px;
                    }
                }
            }
        }
    }
}
@media(max-width: 768px){
    .container-lancamentos-pai{
        .container-conteudo-imagem .container-medio{
            .container-opcoes .container-opcao{
                width: 130px;
                height: 110px;
            }
        }
        .container-pequeno{
            .container-perspectiva, .container-planta{
                .container-imagem-pai{
                    width: 170px;
                    height: 170px;
                    .container-border{
                        padding: 8px;
                    }
                }
            }
        }
    }
    .container-portfolio .container-cases-pai .container-case .container-imagem {
        height: fit-content;
    }
    .container-carrossel-pai{
        .container-arrows{
            z-index 0;
            .container-menor{
                justify-content: center;
                .prev-arrow, .next-arrow{
                    width: 50px;
                    height: 50px;
                    img{
                        width 25px;
                        height 25px;
                    }
                }
            }
        }
        .container-carrossel .container-banner .container-menor{
            display flex;
            flex-direction: column;
            align-items: center;
        }
        .container-full{
            padding: 0 10px;
            .container-redes{
                display none;
            }
        }
    }
    .container-lancamentos-pai .container-pequeno .container-ficha{
        flex-direction: column;
        .descricao{
            width 100%;
            padding-left: 20px;
        }
    }
    .container-contato-pai{
        .container-padrao{
            flex-direction: column;
            .container-contato{
                width 100%;
                .container-conteudo-pai{
                    justify-content: center;
                }
            }
            .container-formulario{
                margin-top 50px;
                width 100%;
                .container-conteudo-pai .container-conteudo{
                    width 100%;
                }
            }
        }
    }
}
@media(max-width: 550px){
    .container-carrossel-pai .container-carrossel .container-banner .container-menor a .container-botao{
        width 150px;
        height 45px;
    }
    .container-carrossel-pai .container-carrossel .container-banner .container-menor h1{
        font-size: 28px;
    }
    .container-portfolio{
        .container-cases-pai .container-case .container-conteudo-pai{
            .container-opcoes{
                flex-direction: column;
                background-color: #ffffff;
                .container-opcao{
                    justify-content: flex-start;
                    width: 100%;
                    padding-left: 30px;
                    margin-top: 5px;
                }
                .container-opcao:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .container-lancamentos-pai .container-conteudo-imagem{
        padding-top: 85px;
        .container-medio .container-opcoes{
            justify-content: space-evenly;
            flex-wrap: wrap;
            .container-opcao{
                width: 96px;
                height: 90px;
                margin: 8px;
                img{
                    width: 25px;
                    height: 25px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media(max-width: 400px){
    .container-lancamentos-pai .container-pequeno{
        .container-perspectiva, .container-planta{
            .container-imagem-pai{
                width: 134px;
                height: 134px;
                padding: 3px;
                .container-border{
                    padding: 5px;
                }
            }
        }
    }
    .container-portfolio .container-cases-pai  .container-case .container-conteudo-pai .container-conteudo{
        .container-perspectiva, .container-planta{
            .container-imagem-pai{
                width: 136px;
                height: 136px;
                padding: 3px;
            }
        }
    }
}
@media(max-width: 380px){
    .container-quem-somos .container-medio .container-cards-pai{
        justify-content: flex-end;
        .container-cards{
            justify-content: flex-end;
            .container-cards-linha{
                max-width 100%
                padding-left: 35px;
                .container-card{
                    padding: 16px 16px 16px 0;
                }
            }
        }
    }
}