@import 'vars.styl';
.mostrar-menu {
  width:  100% !important;  
}
.container-loading{
    max-width 100%;
    width 100vw;
    height 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383d45;
    position: absolute;
    z-index 9999;
    .conteudo{
        max-width 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #logo{
            width: 170px;
            filter: brightness(7);
        }
        #gif{
            margin-top: 30px;
            width: 70px;
            height 70px;
        }
    }
}
header{
    position absolute;
    width: 100%;
    max-width 100%;
    z-index 5;
    .menu-lateral {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #f2f1e6;
        transition: 0.95s;
        padding: 40px 0 20px;
        overflow hidden;
        .after-container {
            width:100vw;
            height 100%;
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;
            .container-redes-pai{
                width: 100%;
                max-width 100%;
                .container-redes{
                    margin: 0 auto;
                    width: 100%;
                    max-width 100%;
                    display flex;
                    justify-content: center;
                    a{
                        width: fit-content;
                        height: fit-content;
                        img{
                            margin: 0 8px;
                            filter: invert(1);
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                #copy{
                    font-family: 'Vision';
                    font-size: 12px;
                    line-height: 1.28;
                    text-align: center;
                    color: #383d45;
                    margin-top: 40px;
                    font-weight: normal;
                    strong{
                        font-family: 'Vision';
                        font-weight: bold;
                    }
                }
            }
            .fechar-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;
                img{
                    cursor: pointer;
                    width: 30px;
                    height 30px;
                }
                a .logo{
                    width: 140px;
                    height fit-content;
                }
                .div-vazia{
                    width: 30px;
                    height 30px;
                }
            }
            .itens-responsivo {
                margin-top: 40px;
                width: 100vw;
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                ul{
                    display flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        margin-top: 15px;
                        width: 170px;
                        display: flex;
                        a{
                            font-family: 'Vision';
                            font-weight: bold;
                            font-size: 12px;
                            color: #383d45;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .container-padrao{
        display flex;
        justify-content: space-between;
        padding-top: 45px;
        align-items: center;
        .container-logo{
            width: 180px;
            height: 70px;
            max-width 100%;
            a img{
                height 100%;
                width 100%;
            }
        }
        .container-links{
            max-width 100%;
            ul{
                max-width 100%;
                display: flex;
                li{
                    padding: 0 21px;
                    height 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        font-family: 'Vision';
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #383d45;
                        transition: all .3s;
                        &:hover{
                            color #b96d41;
                        }
                    }
                }
                li:first-child{
                    a{
                        color #b96d41;
                    }
                }
            }
        }
    }
}
@media(max-width: 850px){
    .header .container-padrao{
        .container-links{
            display: none;
        }
        .container-menu-responsivo{
            display block;
            cursor: pointer;
            img{
                width 35px;
                height 35px;
            }
        }
    }
}
@media(max-width: 769px){
    .header .container-padrao{
        padding-top: 40px;
    }
}