@font-face {
    font-family: Vision;
    src: url("../../fonts/Vision.otf") format("opentype");
}
@font-face {
    font-family: VisionBlack;
    src: url("../../fonts/Vision-Black.otf") format("opentype");
}
@font-face {
    font-family: VisionBold;
    src: url("../../fonts/Vision-Bold.otf") format("opentype");
}
@font-face {
    font-family: VisionHeavy;
    src: url("../../fonts/Vision-Heavy.otf") format("opentype");
}
@font-face {
    font-family: VisionLight;
    src: url("../../fonts/Vision-Light.otf") format("opentype");
}
@font-face {
    font-family: VisionThin;
    src: url("../../fonts/Vision-Thin.otf") format("opentype");
}
@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Italic.eot');
    src: url('../../fonts/Vision/Vision-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-ThinItalic.eot');
    src: url('../../fonts/Vision/Vision-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Regular.eot');
    src: url('../../fonts/Vision/Vision-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-BoldItalic.eot');
    src: url('../../fonts/Vision/Vision-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Light.eot');
    src: url('../../fonts/Vision/Vision-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-LightItalic.eot');
    src: url('../../fonts/Vision/Vision-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-BlackItalic.eot');
    src: url('../../fonts/Vision/Vision-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Bold.eot');
    src: url('../../fonts/Vision/Vision-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Thin.eot');
    src: url('../../fonts/Vision/Vision-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Heavy.eot');
    src: url('../../fonts/Vision/Vision-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-HeavyItalic.eot');
    src: url('../../fonts/Vision/Vision-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision ExtBlk';
    src: url('../../fonts/Vision/Vision-Black.eot');
    src: url('../../fonts/Vision/Vision-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Italic_1.eot');
    src: url('../../fonts/Vision/Vision-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Italic_1.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Regular_1.eot');
    src: url('../../fonts/Vision/Vision-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-ThinItalic_1.eot');
    src: url('../../fonts/Vision/Vision-ThinItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-ThinItalic_1.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Bold_1.eot');
    src: url('../../fonts/Vision/Vision-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-HeavyItalic_1.eot');
    src: url('../../fonts/Vision/Vision-HeavyItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-HeavyItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-LightItalic_1.eot');
    src: url('../../fonts/Vision/Vision-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-LightItalic_1.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Heavy_1.eot');
    src: url('../../fonts/Vision/Vision-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Heavy_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('Vision-Light_1.eot');
    src: url('Vision-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Vision-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-BlackItalic_1.eot');
    src: url('../../fonts/Vision/Vision-BlackItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-BlackItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Black_1.eot');
    src: url('../../fonts/Vision/Vision-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-Thin_1.eot');
    src: url('../../fonts/Vision/Vision-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vision';
    src: url('../../fonts/Vision/Vision-BoldItalic_1.eot');
    src: url('../../fonts/Vision/Vision-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Vision/Vision-BoldItalic_1.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


